body{
    background-color:#FFFFFF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, serif;
    margin:0px;
}
div.top {
    background-color:rgba(151, 151, 151, 0.212);
    position:fixed;
    top:0px;
    width:100%;
    display:flex;
    align-items: center;
    order:1;

}

div.top img{
    max-width:5%;
    padding-left: 10px;
}

nav {
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding-right: 50px;
    
}
.nav-links {
display:flex;
list-style: none;
justify-content: flex-end;
gap:6%;
align-items:center;



}

.nav-links li a {
    text-decoration: none;
    color:#000000;
    font-family: 'Staatliches', cursive;
    letter-spacing: 3px;
    font-size: 24px;
    text-shadow: 2px 2px 4px #7575753f;


}



div.landp {
    display:flex;
    align-items: center;
    margin-left:20%;
    margin-top:5%;

}

#textl{
    display:block;
    padding-right: px;
    
}

div.landp p{
    padding:0px;
    margin:0px;
}

div.landp h1{
    font-family:'Playfair Display', serif;
    color:#FCA311;
    font-weight:900;
    font-style: bold;
    font-size: 50px;
    padding: 0%;
    margin:0px 0px 5px 0px;
}

div.landp p{
font-size:20px;
    color:#14213D;

}

div.landp img{
    max-width:100%;
    padding-left:0px;
    -webkit-filter: drop-shadow(8px 8px 10px  #8B8383);
    filter: drop-shadow(8px 8px 10px  #8B8383);
}



div.section2head{
    margin-top:200px;
    text-align: center;
    display:block;
}
div.section2 {
    
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:5%;

}

div.section2 p{
    padding:0px;
    margin:0px;
}

div.section2head h2{
    font-family:'Playfair Display', serif;
    color:#14213D;
    font-weight:900;
    font-style: bold;
    font-size: 50px;
    padding: 0%;
    margin:0px 0px 5px 0px;
}

div.section2 p{
    color:#14213D;
    width: 250px;
    border-left: 3px solid #FCA311;
    padding-left: 5px;
    text-align: left;
    
}

div.section2 img{
    max-width:100%;
    padding-left:0px;
    -webkit-filter: drop-shadow(8px 8px 10px  #8B8383);
    filter: drop-shadow(8px 8px 10px  #8B8383);
}




div.section3head{
    margin-top:200px;
    text-align: center;
    display:block;
}
div.section3 {
    display:flex;
    justify-content: space-evenly;
    

}

div.section3head h2{
    font-family:'Playfair Display', serif;
    color:#14213D;
    font-weight:900;
    font-style: bold;
    font-size: 50px;
    padding: 0%;
    margin:0px 0px 5px 0px;
}

div.section3 p{
    color:#14213D;

    padding-left: 5px;
    text-align: center;
    
}

#box {
    
    width:300px;
    padding: 30px 10px 30px 10px;
    margin: 20px;
    background-color:rgba(139, 131, 131, 0.226);
    border-radius: 2%;
    border-bottom: 3px solid #FCA311;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

div.section4head{
    margin-top:200px;
    text-align: center;
    display:block;
}
div.section4 {
    display:flex;
    justify-content:space-evenly;
margin-left: 10%;
}

div.section4head h2{
    font-family:'Playfair Display', serif;
    color:#14213D;
    font-weight:900;
    font-style: bold;
    font-size: 50px;
    padding: 0%;
    margin:0px 0px 5px 0px;
}

div.section4  p{
    color:#14213D;

    padding-left: 5px;
    text-align: center;
    
}

#keepit{
    display:flex;
    align-items: center;
}

div.important{
    display:block;
}



div.form input {width:35%; border-radius: 10px; padding:10px;margin-bottom: 10px; border:1px solid #949494; }
div.form select{width:39%; border-radius: 10px; padding:5px;}
*:focus{
    outline: none;
}



#formthing {
    display:inline-block;
    width:73%;
    margin-top:5px;
}

#checkbox{
    width:150px;
}

footer{
    display:flex;
    justify-content:space-evenly;
    background-color:rgba(151, 151, 151, 0.212);
    color:#000000;
    padding:20px;
}
footer ul{
    list-style: none;
}

@media only screen and (max-width:600px) {
    div.landp{
        width:50%;
        margin-top:150px;
        align-items: center;
        flex-direction: column;
        text-align: center;
        display:block;
    }

div.landp{
    padding-left:0px;
}

div.top img{

}
.nav-links{
justify-content: flex-end;
align-items: flex-end;
flex-direction: column;
}

div.section2{
    width:100%;
    margin-top:50px;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    text-align: center;
}

div.section2 img{
display:none;
}

div.section2 p{
    color:#14213D;
    width: 250px;
    border-left: none;
    text-align: center;

    
}

div.section3{
    width:100%;
    margin-top:50px;
    align-items: center;
    flex-direction: column;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

#box{
    width:200px;
    margin-right: 0 auto;
    display:block;
}

footer{
    flex-direction: column;
}

div.form {
    width:80%;
    flex-direction: column;
    justify-content: center;
}

#formthing{
    display:inline-flex;
    width:100%;
    flex-direction: column;
    justify-content: center;
    margin-bottom:10px;
}

#formthing input{
    width:70%;
}

#formthing select{
    width:75%;
}

div.section4{
    width:100%;
    margin-top:50px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

textarea {
   max-width: 80%;
}

div.important{
    width: 100%;
    flex-direction: column;
    padding: 0px;
    justify-content: center;
}

}

